/* * {box-sizing: border-box; text-align:center;}  */

.clearfix:after { 
content:"";
display: table;
clear: both;

}

/* @media screen and (max-width: 960px) {
    body {
         
        background-color: blue;    
    }
}

@media screen and (min-width: 480px)  {
    
    body {
        width: 100%;
margin: 1% auto;
background-color: black;
    }
    
} */


/* body {
width: 100%;
margin: 1% auto;
background-color: black;
} */



/* ALL CONTENT ID & CLASSES BELOW */


/* HEADER CSS BEGIN */

.headercontainer {
border-bottom: 2px solid #cccccc;
background-color: #ffffff;
position: relative;
margin-top: -42px;
height: 109px;

}

#header1 {
background-color: #4aaaa5;
float: left;
padding: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #ffffff;
position: absolute;
display: inline;
margin-left: 150px
}

ul {
display: inline;
margin: 0;
padding: 0;
}

li {
display: inline;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
 

}

.nav1 {
color: #777777;
float: right;
text-align: center;
margin-top: 60px;
margin-right: 200px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position: relative;
display: inline;
font-weight: bold;
}

/* END HEADER CSS */


/* MAIN CONTENT CSS BEGIN */

.wrapper2 {
max-width: 960px;
min-width: 80%;
margin: 0 auto;
}  

.maincontentcontainer{
background-color: #ffffff;
border-bottom: 15px solid #4aaaa5;
background: url(assets/images/dust_scratches.png);
}

.article1 {
float: left;
color: #777777;
width: 650px;
height: 600px;
background-color:#ffffff;
margin-bottom: 50px;
margin-top: 50px;
margin-left: 20px;
padding-left: 10px;
padding-right: 10px;
display: inline;
position: relative;
}


#header2 {
border-bottom: 2px solid #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #4aaaa5;
padding-left: 10px;
padding-right: 10px;

}

img {
float: left;
margin: 10px;

}


#p1{
margin: 10px;
padding-top: 10px;

}

#p2 {
margin: 10px;

}

.nav2 {
    float: right;
    background-color: #ffffff;
    width: 270px;
    height: 190px;
    text-align: center;
    margin-top: 50px;
    margin-left: 110px;
    color: #4aaaa5;
    display: inline;
    position: absolute;
        
    }
    

#header3 {
    border-bottom: 2px solid #777777;
    margin-left: 5px;
    margin-right: 5px;
    color: #4aaaa5;
    
    }
    
a:link {
    color: #777777;

}

a:visited {
    color: #777777;
}


/* END MAIN CONTENT CSS */

/* FOOTER CSS */
#footer {
color: #cccccc;
text-align: center;
background-color: #777777;
padding: 25px;

}


