



body {
    font-family: Arial, Helvetica, sans-serif;
}


/*** HEADER CSS BEGIN */

#wrapper {
    width: 100%;
    border-bottom: 5px solid #cccccc;
}

#headwrapper {
    width: 960px;
    margin: auto;
}
 
header{ 
    background-color:#ffffff;
    height: 75px;
    
}

h1 {
    background-color:#4aaaa5;
    float: left;
    padding: 25px;
    height: 25px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    
}

header nav {
    float: right;
    padding: 25px;
       
}

nav ul li {
    display: inline;
    
}

a:link {
    color: grey;
}

a:visited {
    color: grey;
}

/* END HEADER CSS */


/*** MAIN-CONTENT BEGIN */

.main-content {
    border-bottom: 5px solid grey;
   overflow: hidden;

}

.inner-content  {

    width: 960px;
    /* height: 600px; */
    margin: auto;
 
    }

article {
    width: 610px;
    height: 500px;
    float: left;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
       
}

h2 {

    padding: 10px;
    border-bottom: 3px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
}
 
article img {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
 }


#p1 {
    margin-top: 20px;    

}

#p2 {
    margin-top: 20px;
}

#nav2 {
    float: right;
    width: 240px;
    height: 140px;
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    
}


h3{
    padding: 10px;
    border-bottom: 3px solid #dddddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
}



/* END MAIN-CONTENT BEGIN */


footer {
    background-color: #4aaaa5;
    text-align: center;
    padding: 25px;
}



























/* * {box-sizing: border-box; text-align:center;}  */

/* .clearfix:after { 
content:"";
display: table;
clear: both;
} */
